<div class="container">

    <div class="row">
        <ul>
            <div class="col-md-12">
                <div *ngFor='let quote of quotes; let i=index'>

                    <div>
                        <p appQuoteHighlight *ngIf="highestUpvote()===quote.upvotes && quote.upvotes>0">{{quote.quote_name}}</p>
                        <p *ngIf="highestUpvote()!==quote.upvotes || quote.upvotes===0">{{quote.quote_name}}</p>

                        <button (click)='toggleDetails(i)' class="btn btn-success">Quote Details</button>
                        <p>{{quote.upvotes}} upvotes</p>
                        <p>{{quote.downvotes}} downvotes</p>

                        <button class="btn btn-primary" (click)="upvote(i)">Upvote</button>
                        <button class="btn btn-danger" (click)="downvote(i)">Downvote</button>
                    </div>


                    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='completeQuote($event,i)'></app-quote-detail>
                </div>

            </div>

        </ul>

        <div>
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>
</div>
<div class="footer">
    <p>Copyright (c) 2019 **Gentille, Moringa Rwanda** </p>
</div>