<div class="container">

    <div class="row">
        <ul>
            <div class="col-md-8">
                <div *ngFor='let quote of quotes; let i=index'>
                    <li> {{quote.quote_name}} </li>
                    <div>
                        <button (click)='toggleDetails(i)' class="btn btn-success">Quote Details</button>

                    </div>


                    <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete)='completeQuote($event,i)'></app-quote-detail>
                </div>

            </div>

        </ul>

        <div class="col-md-4">
            <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
        </div>
    </div>

</div>