form{
    border:1px solid aliceblue ;
/* background-color: aliceblue; */
border-width: 50px;
    
}
textarea{
   padding: 8%;
   
}
button{
    margin:20px 20px;
}
.container-fluid{
    margin-top: 20px;
}
label{
    margin-left: 5px;
    background-color: aliceblue;
}
.img{
   text-align: center;
   margin-left: 80%;
}
