form{
border:1px solid aliceblue ;

border-width: 35px;
    
}
textarea{
   padding: 8%;
   
}
button{
    margin:10px 10px;
}

label{
    margin-left: 5px;
    background-color: aliceblue;
}
.img{
   text-align: center;
   margin-left: 80%;
}
