<!-- <!-- <form>
    <div class="form-row">
        <div class="row">
            <label for="quote">Write your quote:</label>
            <textarea type="text" class="form-control is-valid" id="quote" required></textarea>
            <div class="invalid-feedback">
                Looks good!
            </div>
        </div>
        <div class="row">
            <label for="author">Quote Author:</label>
            <input type="text" class="form-control is-valid" id="author" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="row">
            <label for="submitter">Quote submitter:</label>
            <input type="text" class="form-control is-valid" id="submitter" required>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationServer03">Quote submitter by:</label>
            <input type="text" class="form-control is-invalid" id="validationServer03" placeholder="City" required>
            <div class="invalid-feedback">
                Please provide a valid city.
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit form</button>
</form> -->

<!-- <div class="container-fluid">
        <h2 class="text-center">Create a new Goal</h2>
        <hr>
        <form>
            <div class="form-group">
      
                <label for="name">Name</label>
                <input type="text" required class="form-control" id="name">
      
            </div>
            <div class="form-group">
      
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="4" required></textarea>
      
            </div>
            <div class="form-group">
                <label for="complete">Completion</label>
                <input type='date' id="complete" required>
      
            </div>
        </form>
      </div> --> -->