<div class="container-fluid">
    <form>
        <div class="form-row">
            <div class="row">
                <label for="quote">Write your quote:</label>
                <textarea type="text" class="form-control" id="quote" required></textarea>

            </div>
            <div class="row">
                <label for="author">Quote Author:</label>
                <input type="text" class="form-control " id="author" required>

            </div>
            <div class="row">
                <label for="submitter">Quote submitter:</label>
                <input type="text" class="form-control" id="submitter" required>

            </div>

        </div>

        <button class="btn btn-primary" type="submit">Save</button>

    </form>
</div>

<!-- <div class="container-fluid">
        <h2 class="text-center">Create a new Goal</h2>
        <hr>
        <form>
            <div class="form-group">
      
                <label for="name">Name</label>
                <input type="text" required class="form-control" id="name">
      
            </div>
            <div class="form-group">
      
                <label for="description">Description</label>
                <textarea class="form-control" id="description" rows="4" required></textarea>
      
            </div>
            <div class="form-group">
                <label for="complete">Completion</label>
                <input type='date' id="complete" required>
      
            </div>
        </form>
      </div> -->